<form [formGroup]="invoiceForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()">
  <div formArrayName="items">
  <mat-card class="new-invoice">
    <mat-card-header class="header">
      <mat-card-title>Invoice Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column" class="invoiceInputs" *ngFor="let item of invoiceForm.get('items').controls; let i = index" [formGroupName]="i">
        <div class="col">
          <mat-icon color="warn" fxFlexAlign="center" (click)="deleteInvoice(i)">delete</mat-icon>
              <!--Name form-->
          <mat-form-field class="full-width">
            <input matInput placeholder="Company Name" formControlName="name">
            <mat-error *ngIf="item.get('name')?.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="item.get('name')?.hasError('minlength')">
              Name must be at least <strong>3 characters</strong>
            </mat-error>
            <mat-error *ngIf="item.get('name')?.hasError('maxlength')">
              Name cannot be more than <strong>30 characters</strong>
            </mat-error>
          </mat-form-field>

              <!--Count form-->
          <mat-form-field class="full-width">
            <input matInput placeholder="Count" formControlName="count">
            <mat-error *ngIf="item.get('count')?.hasError('required')">
              Count is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="item.get('count')?.hasError('min')">
              Count must be at least <strong>1</strong>
            </mat-error>
            <mat-error *ngIf="item.get('count')?.hasError('max')">
              Count is maximum <strong>100</strong>
            </mat-error>
          </mat-form-field>

              <!--Price form-->
         <mat-form-field class="full-width">
          <input matInput placeholder="Price" formControlName="price">
          <mat-error *ngIf="item.get('price')?.hasError('required')">
            Price is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="item.get('price')?.hasError('min')">
            Price must be at least <strong>1</strong>
          </mat-error>
          <mat-error *ngIf="item.get('price')?.hasError('max')">
            Price is maximum <strong>100</strong>
          </mat-error>
        </mat-form-field>

            <!--Service form-->
          <mat-form-field class="full-width">
            <mat-select placeholder="Service" formControlName="service">
              <mat-option *ngFor="let service of services" [value]="service.type">
                {{ service.type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="item.get('service')?.hasError('required')">
              Service is <strong>required</strong>
            </mat-error>
          </mat-form-field>

            <!--Availability form-->
          <mat-radio-group formControlName="availability">
            <mat-radio-button value="available">available</mat-radio-button>
            <mat-radio-button value="inaccessible">inaccessible</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-raised-button color="accent" type="submit" class="btn">Submit</button>
      <button mat-fab color="primary" class="addAnotherInvoice" type="button" [style.margin-left]="'15px'" (click)="addAnotherInvoice()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
    <img src="../../assets/images/dashboardImg.png" fxFlexAlign="center" fxHide.xs class="dashboard-image">
  </mat-card>
</div>
</form>
